---
import { getCollection, render } from 'astro:content'
import i18next from 'i18next'
import { t } from '@/i18n/ui'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getI18nStaticPaths } from '@/lib/i18n-utils'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return getI18nStaticPaths(
    posts.map(post => ({ id: post.data.id, props: { post } })),
  )
}

const locale = Astro.params.locale
i18next.changeLanguage(locale)

const { post } = Astro.props
const { Content } = await render(post)
---

<BaseLayout
  title={post.data.title}
  breadcrumb={{
    overrides: [
      {
        href: Astro.url.pathname,
        label: post.data.title,
      },
    ],
  }}
>
  <article>
    <h1 class="mb-4 text-5xl font-extrabold">{post.data.title}</h1>
    <p class="mb-8 text-sm">
      {t('blog.created')}
      {new Date(post.data.created).toLocaleDateString()}
      {
        post.data.updated !== post.data.created && (
          <span class="ml-2">
            {t('blog.updated')}
            {new Date(post.data.updated).toLocaleDateString()}
          </span>
        )
      }
    </p>
    <article class="prose max-w-none">
      <Content />
    </article>
  </article>
</BaseLayout>
