---
import { getCollection, render } from 'astro:content'
import i18next from 'i18next'
import { TableOfContents } from '@/components/TableOfContents'
import { t } from '@/i18n/ui'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getI18nStaticPaths } from '@/lib/i18n-utils'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return getI18nStaticPaths(
    posts.map(post => ({ id: post.data.id, props: { post } })),
  )
}

const locale = Astro.params.locale
i18next.changeLanguage(locale)

const { post } = Astro.props
const { Content, headings } = await render(post)
---

<BaseLayout
  title={post.data.title}
  breadcrumb={{
    overrides: [
      {
        href: Astro.url.pathname,
        label: post.data.title,
      },
    ],
  }}
>
  <div
    class={`
      flex flex-col gap-8
      lg:flex-row
    `}
  >
    <details
      class={`
        group rounded border bg-secondary px-4 text-secondary-foreground
        lg:hidden
      `}
    >
      <summary
        class={`
          cursor-pointer py-4 text-sm font-medium
          hover:underline hover:opacity-80
          active:underline active:opacity-80
        `}
      >
        {t('blog.tableOfContents')}
      </summary>
      <div class="mb-4">
        <TableOfContents headings={headings} client:load />
      </div>
    </details>
    <aside
      class={`
        hidden w-64 flex-shrink-0
        lg:block
      `}
    >
      <TableOfContents headings={headings} client:load />
    </aside>
    <article class="min-w-0 flex-1">
      <h1 class="mb-4 text-5xl font-extrabold">{post.data.title}</h1>
      <p class="mb-8 text-sm">
        {t('blog.created')}
        {new Date(post.data.created).toLocaleDateString()}
        {
          post.data.updated !== post.data.created && (
            <span class="ml-2">
              {t('blog.updated')}
              {new Date(post.data.updated).toLocaleDateString()}
            </span>
          )
        }
      </p>
      <div class="prose max-w-none">
        <Content />
      </div>
    </article>
  </div>
</BaseLayout>
