---
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import Link from '@/components/Link.astro'
import { H1, H2, Lead as Muted } from '@/components/ui/typography'
import { t } from '@/i18n/ui'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getI18nStaticPaths } from '@/lib/i18n-utils'

export async function getStaticPaths() {
  return getI18nStaticPaths()
}

const posts = (await getCollection('blog')).sort(
  (a, b) =>
    new Date(b.data.created).getTime() - new Date(a.data.created).getTime(),
)
---

<BaseLayout title={t('blog.title')}>
  <H1>{t('blog.title')}</H1>
  <Muted className="mt-6">
    {t('blog.welcome')}
  </Muted>
  <H2 className="mt-6">{t('blog.latestPosts')}</H2>
  {
    posts.map(({ data: { id, title, description, created: date } }) => (
      <Link
        href={`/blog/${id}/`}
        class={`
          mt-6 block rounded-lg border bg-card p-6 transition-shadow
          hover:shadow-lg
        `}
      >
        <div class="flex items-center justify-between">
          <h3 class="mb-2 text-2xl font-bold">{title}</h3>
          <Icon name="dinkie-icons:right-arrow-circled-filled" class="size-6" />
        </div>
        <Muted className="mt-2">{description}</Muted>
        <Muted className="mt-2 text-sm">
          {new Date(date).toLocaleDateString()}
        </Muted>
      </Link>
    ))
  }
</BaseLayout>
