---
import { getCollection, render } from 'astro:content'

import BaseLayout from '@/layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map(post => ({
    params: { id: post.data.id },
    props: { post },
  }))
}

console.log(Astro.url.pathname)

const { post } = Astro.props
const { Content } = await render(post)
---

<BaseLayout
  title={post.data.title}
  breadcrumb={{
    overrides: [
      {
        href: Astro.url.pathname,
        label: post.data.title,
      },
    ],
  }}
>
  <article>
    <h1 class="mb-4 text-5xl font-extrabold">{post.data.title}</h1>
    <p class="mb-8 text-sm">
      Published: {new Date(post.data.date).toLocaleDateString()}
    </p>
    <article class="max-w-none typography">
      <Content />
    </article>
  </article>
</BaseLayout>
