@reference 'tailwindcss';

@layer utilities {
  .callout-icon {
    @apply mr-2 mt-0.5 inline-block h-5 w-5 shrink-0 ;
    @apply dinkie-icons--informationsource-filled;
  }
}

@layer components {
  .callout {
    @apply my-6 space-y-2 rounded-lg border p-4 pb-5;
    border-color: var(--callout-blue-border);
    background-color: var(--callout-blue-bg);

    & > [data-callout-title] {
      & {
        @apply flex flex-row items-start gap-2 p-0 font-bold;
        color: var(--callout-blue);
      }

      &:not(:only-child) {
        @apply mb-2;
      }

      &:empty::after {
        content: 'Note';
      }
    }

    & > [data-callout-body] {
      @apply space-y-2;
    }
  }

  details.callout {
    & > summary[data-callout-title] {
      @apply cursor-pointer;
    }

    .callout-fold-icon {
      @apply ml-auto inline-block h-4 w-4 shrink-0;
      @apply dinkie-icons--right-black-triangle rotate-90;
    }

    &:open .callout-fold-icon {
      @apply -rotate-90;
    }
  }
}
