/* This file is the main entrance to the tailwind config. */
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './theme.css';

@import './base.css';
@import './prose.css';
@import './utilities.css';
@import './callout.css';

[x-cloak] { display: none !important; }
