/* This file is for styling prose content such as rendered markdown. */
@reference 'tailwindcss';
@reference './theme.css';

@layer components {
  .prose {
    h1 {
      @apply scroll-m-20 text-4xl font-extrabold tracking-tight text-balance;
    }

    h2 {
      @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
    }

    h3 {
      @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
    }

    h4 {
      @apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
    }

    p {
      @apply leading-7 [&:not(:first-child)]:mt-6;
    }

    blockquote {
      @apply mt-6 border-l-2 pl-6 italic;
    }

    table {
      @apply w-full;
    }

    thead {
      tr {
        @apply even:bg-muted m-0 border-t p-0;
      }

      th {
        @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
      }
    }

    tbody {
      tr {
        @apply even:bg-muted m-0 border-t p-0;
      }

      td {
        @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
      }
    }

    ul {
      @apply my-6 ml-6 list-disc [&>li]:mt-2;
    }

    /* co-operate with shiki */
    pre.astro-code {
      @apply /* bg-muted */ relative rounded px-4 py-2 font-mono text-sm font-semibold;
    }

    /* align with shiki colors */
    :not(pre) > code {
      @apply bg-[#24292e] text-[#e1e4e8] relative rounded px-[0.3rem] py-[0.1rem] font-mono text-sm font-semibold;
    }

    a {
      @apply font-medium text-primary underline underline-offset-4 transition-colors hover:text-primary/50;
    }

    .lead {
      @apply text-muted-foreground text-xl;
    }

    .large {
      @apply text-lg font-semibold;
    }

    .small {
      @apply text-sm leading-none font-medium;
    }

    .muted {
      @apply text-muted-foreground text-sm;
    }
  }
}
