/* This file contains custom utility classes for common styling needs */
@reference 'tailwindcss';

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
