---
import { H1, H2, Lead } from '@/components/ui/typography'
import BaseLayout from '@/layouts/BaseLayout.astro'

const categories = [
  {
    name: 'Core Stack',
    technologies: [
      {
        name: 'Astro',
        url: 'https://astro.build/',
        description:
          'Very cool meta-framework with a neat way of isolating client/server components.',
      },
      {
        name: 'React',
        url: 'https://react.dev/',
        description: 'Good old React, because why not?',
      },
    ],
  },
  {
    name: 'UI & Design',
    technologies: [
      {
        name: 'shadcn/ui',
        url: 'https://ui.shadcn.com/',
        description: 'Cool components built with Radix UI and Tailwind CSS.',
      },
      {
        name: 'tweak-cn',
        url: 'https://tweakcn.com/',
        description: 'Like this paper-ish colorscheme? Me too.',
      },
    ],
  },
  {
    name: 'Tooling',
    technologies: [
      {
        name: 'ESLint',
        url: 'https://eslint.org/',
        description: 'Cool linting tool. Also do some formatting too.',
      },
      {
        name: '@antfu/eslint-config',
        url: 'https://github.com/antfu/eslint-config',
        description: 'Sensible defaults by Anthony Fu.',
      },
      {
        name: 'Prettier',
        url: 'https://prettier.io/',
        description: 'ESLint is not that good for .astro, so...',
      },
      {
        name: '... And more!',
        url: 'https://github.com/inogai/blog-astro',
        description: 'Check out the source code for all the fascinating tools!',
      },
    ],
  },
]
---

<BaseLayout title='Credits'>
  <H1>Credits</H1>
  <Lead className="mt-6">
    This website is built with some of the best open-source tools available. A
    huge thanks to the creators and maintainers of these projects.
  </Lead>
  <div class="mt-6 space-y-6">
    {
      categories.map(category => (
        <div>
          <H2>{category.name}</H2>
          <div
            class={`
              mt-6 grid gap-4
              md:grid-cols-2
              lg:grid-cols-3
            `}
          >
            {category.technologies.map(tech => (
              <a
                href={tech.url}
                target="_blank"
                rel="noopener noreferrer"
                class={`
                  block rounded-lg border bg-card p-6 transition-shadow
                  hover:shadow-lg
                `}
              >
                <h3 class="mb-2 text-2xl font-bold">{tech.name}</h3>
                <p class="text-muted-foreground">{tech.description}</p>
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
