---
import { LanguagesIcon } from '@lucide/astro'
import { i18next, t } from '@/i18n/ui'

const locale = i18next.language

const locales = [
  { code: 'en', name: 'English' },
  { code: 'zh', name: '繁體中文' },
]

---

<div class="relative mr-2">
  <LanguagesIcon class="inline-block h-5 w-5" aria-hidden="true" />
  <select
    id="lang-select"
    aria-label={t('nav.language')}
    class={`
      absolute inset-0 cursor-pointer overflow-clip rounded border bg-background
      text-foreground opacity-0
      md:static md:ml-2 md:size-auto md:px-2 md:py-1 md:opacity-100
      md:hover:opacity-50
    `}
  >
    {locales.map(({ code, name }) => (
      <option value={code} selected={code === locale}>
        {name}
      </option>
    ))}
  </select>
</div>

<script>
document.getElementById('lang-select')?.addEventListener('change', (e) => {
  const newLocale = (e.target as HTMLSelectElement).value
  const currentPath = window.location.pathname
  const newPath = currentPath.replace(/^\/[^/]+(\/|$)/, `/${newLocale}`)
  window.location.href = newPath
})
</script>

