---
import Logo from '@/components/icons/Logo.astro'
import LanguageSwitcher from '@/components/LanguageSwitcher.astro'
import Link from '@/components/Link.astro'
import NavLink from '@/components/NavLink.astro'
import { t } from '@/i18n/ui'

const locale = Astro.params.locale || 'en'
---

<header class="sticky top-0 flex h-12 border-b bg-background">
  <Link
    href="/"
    class={`
      ml-4 flex items-center
      hover:opacity-50
    `}
  >
    <span class="text-primary">
      <Logo />
    </span>
    <span class="ml-2 font-mono font-bold">{t('navbar.name')}</span>
    <span
      class={`
        ml-1 hidden text-sm font-light text-muted-foreground
        md:block
      `}
    >
      {t('navbar.subtitle')}
    </span>
  </Link>

  <div class="flex-1"></div>

  <div class="flex items-center">
    <LanguageSwitcher />

    <NavLink href={`/${locale}/`}>
      <span class="font-bold">{t('nav.home')}</span>
    </NavLink>
    <NavLink href={`/${locale}/blog/`}>{t('nav.blog')}</NavLink>
    <!-- <NavLink href="/timeline/">Timeline</NavLink> -->
    <NavLink href={`/${locale}/credits/`}>{t('nav.credits')}</NavLink>
  </div>
</header>
