---
import Logo from '@/components/icons/Logo.astro'
import NavLink from '@/components/NavLink.astro'
---

<header class="sticky top-0 flex h-12 border-b bg-background">
  <a
    href="/"
    class={`
      ml-4 flex items-center
      hover:opacity-50
    `}
  >
    <span class="text-primary">
      <Logo />
    </span>
    <span class="ml-2 font-mono font-bold">inogai,</span>
    <span
      class={`
        ml-1 hidden text-sm font-light text-muted-foreground
        md:block
      `}
    >
      a UG at HKUST
    </span>
  </a>

  <div class="flex-1"></div>

  <div class="flex">
    <NavLink href="/">
      <span class="font-bold">Home</span>
    </NavLink>
    <NavLink href="/blog/">Blog</NavLink>
    <!-- <NavLink href="/timeline/">Timeline</NavLink> -->
    <NavLink href="/credits/">Credits</NavLink>
  </div>
</header>
