---
import { cn } from '@/lib/utils.js'

const { href } = Astro.props

const isActive = href === Astro.url.pathname
---

<a
  class={cn(
    `
      flex h-full items-center px-3
      hover:bg-primary/10 hover:underline
      focus:underline
    `,
    isActive && 'pointer-events-none bg-primary text-primary-foreground',
  )}
  href={href}
>
  <slot />
</a>
