---
import type { BlogPost } from '@/types/BlogPost'
import PostNavigationCard from '@/components/PostNavCard.astro'

interface Props {
  prevPost: BlogPost | null
  nextPost: BlogPost | null
}

const { prevPost, nextPost } = Astro.props
---

<nav class="flex justify-between gap-4">
  <PostNavigationCard post={prevPost} direction="prev" />
  <PostNavigationCard post={nextPost} direction="next" />
</nav>
