---
import NavBar from '@/components/NavBar.astro'

import '@/styles/global.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | inogai - Alex Chen</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <NavBar />
      <slot />
    </div>
  </body>
</html>
