---
import { Kbd } from '@/components/ui/kbd'
import { cn } from '@/lib/utils'

interface Props {
  class?: string
  href?: string
  active?: boolean
  key?: string
}

const {
  class: className,
  href,
  active = false,
  key,
  ...props
} = Astro.props satisfies Props
---

<a
  data-slot="navigation-menu-link"
  href={href}
  data-active={active ? '' : undefined}
  data-nav-menu-key={key}
  class={cn(
    `
      flex items-center gap-2 rounded-none p-2 text-sm transition-all
      outline-none
      hover:bg-muted
      focus:bg-muted
      focus-visible:ring-1 focus-visible:ring-ring/50 focus-visible:outline-1
      data-active:bg-primary/50 data-active:hover:bg-primary/30
      data-active:focus:bg-primary/30
      [&_svg:not([class*="size-"])]:size-4
      [[data-slot=navigation-menu-content]_&]:rounded-none
    `,
    className,
  )}
  {...props}
>
  <slot />
  {key && <Kbd className="hidden md:inline-flex">{key}</Kbd>}
</a>
